.experience-section .expereience_container .experience_content {
  display: flex;
  justify-content: space-between;
}
.experience-section .expereience_container .experience_content .exp_desc_block {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: justify;
}
.experience-section .expereience_container .experience_content .exps_block .experiences .experience {
  display: flex;
  gap: 30px;
}
.experience-section .expereience_container .experience_content .exps_block .experiences .experience .do_date {
  width: 177px;
  height: -moz-fit-content;
  height: fit-content;
  text-align: right;
}
.experience-section .expereience_container .experience_content .exps_block .experiences .experience .exp_description {
  width: 600px;
  border-left: 3px solid #cccccc;
  padding-left: 50px;
  padding-bottom: 25px;
}
.experience-section .expereience_container .experience_content .exps_block .experiences .experience .exp_description .title {
  display: flex;
  align-items: center;
  position: relative;
}
.experience-section .expereience_container .experience_content .exps_block .experiences .experience .exp_description .title .label {
  font-size: 25px;
  font-weight: 500;
}
.experience-section .expereience_container .experience_content .exps_block .experiences .experience .exp_description .title .before {
  border-radius: 50%;
  height: 22px;
  width: 22px;
  content: "";
  background-color: #ff9900;
  position: absolute;
  left: -63.5px;
}
.experience-section .expereience_container .experience_content .exps_block .experiences .experience .exp_description .desc_content {
  padding: 10px 0;
  text-align: justify;
}
.experience-section .expereience_container .experience_content .exps_block .experiences:nth-child(1) .exp_description {
  border-top-left-radius: 15px;
}
.experience-section .expereience_container .experience_content .exps_block .experiences:nth-child(3) .exp_description {
  padding-bottom: 0;
}
.experience-section .expereience_container .experience_content .exps_block .experiences:nth-child(3) .exp_description .desc_content {
  padding-bottom: 0;
}

@media (max-width: 530px) {
  .experience-section .expereience_container .experience_content {
    flex-direction: column;
    gap: 20px;
  }
  .experience-section .expereience_container .experience_content .exp_desc_block {
    gap: 10px;
  }
  .experience-section .expereience_container .experience_content .exps_block .experiences .experience {
    display: flex;
    gap: 20px;
  }
  .experience-section .expereience_container .experience_content .exps_block .experiences .experience .do_date {
    width: 150px;
    text-align: left;
    font-size: 15px;
  }
  .experience-section .expereience_container .experience_content .exps_block .experiences .experience .exp_description {
    width: 100%;
    border-left: 2px solid #cccccc;
    padding-left: 20px;
    padding-bottom: 25px;
  }
  .experience-section .expereience_container .experience_content .exps_block .experiences .experience .exp_description .title .label {
    font-size: 19px;
  }
  .experience-section .expereience_container .experience_content .exps_block .experiences .experience .exp_description .title .before {
    left: -31px;
  }
  .experience-section .expereience_container .experience_content .exps_block .experiences .experience .exp_description .desc_content {
    padding: 10px 0;
  }
}
@media (max-width: 390px) {
  .experience-section .expereience_container .experience_content .exps_block .experiences .experience .do_date {
    width: 100px;
    text-align: left;
    font-size: 14px;
  }
  .experience-section .expereience_container .experience_content .exps_block .experiences .experience .exp_description .title .label {
    font-size: 17px;
  }
  .experience-section .expereience_container .experience_content .exps_block .experiences .experience .exp_description .title .before {
    left: -31px;
  }
  .experience-section .expereience_container .experience_content .exps_block .experiences .experience .exp_description .desc_content {
    font-size: 16px;
  }
}/*# sourceMappingURL=experience.css.map */