.header {
    padding: 20px 0;

    .header_container {
        .header_content {
            display: flex;
            justify-content: space-between;

            .logo-insign {
                display: flex;
                align-items: center;

                .insign {
                    text-transform: capitalize;
                    font-size: 35px;
                    font-weight: 500;
                }
            }

            .nav {
                display: flex;
                gap: 100px;
                align-items: center;

                .nav_links {
                    display: flex;
                    gap: 30px;
                    text-transform: capitalize;

                    .chield {
                        transition: all .2s;

                        .label {
                            font-size: 18px;
                            font-weight: 400;
                        }
                    }

                    .chield:hover {
                        color: #ff7b00;
                    }
                }

                .nav_contact_btn {}
            }

            .menu_deroule {
                display: none;
            }
        }
    }
}

@media (max-width: 530px) {
    .header {
        padding: 5px 0;
        background-color: #ffae00;

        .header_container {
            .header_content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;

                .logo-insign {
                    display: flex;
                    align-items: center;

                    .insign {
                        // color: #fffafa;
                        font-size: 20px;
                        font-weight: 500;
                    }
                }

                .nav {
                    display: none;
                }

                .menu_deroule {
                    display: flex;
                    align-items: center;
                    position: relative;
                    height: fit-content;
                    background-color: #ffae00;
                    transition: all .3s;

                    .menu {
                        display: flex;
                        width: 100%;
                        align-items: center;
                        cursor: pointer;
                        //padding: 5px 20px;
                        transition: all .3s;
                    }

                    .open {
                        display: block;
                    }

                    .nav {
                        transition: all .3s;
                        position: absolute;
                        right: 0;
                        top: 100%;
                        z-index: 1000;
                        //text-align: right;
                        background-color: inherit;
                        padding: 10px 20px;
                        padding-top: 0;
                        box-shadow: 0px 8px 5px 3px #9b9898;
                        width: 232px;

                    }
                }

                .menu_deroule_nav_open {
                    border-top-right-radius: .5rem;
                    border-top-left-radius: .5rem;
                    background-color: #fff;
                    width: 101px;
                    display: flex;
                    align-items: center;
                    box-shadow: 0px 8px 5px 3px #9b9898;
                    width: 232px;
                    position: absolute;
                    right: 0;
                    transition: all .3s;
                    //height: 200px;

                    .menu {
                        justify-content: right;
                        padding: 10px 10px;
                        padding-bottom: 0;


                    }

                    //width: max-content;
                }


            }
        }
    }
}
