.about-section {
    .about_container {
        .about_content {
            display: flex;
            justify-content: space-between;

            .picture {
                width: 350px;
                height: 350px;
                display: flex;
                align-items: center;
                border-radius: 74% 26% 36% 64% / 44% 56% 44% 56%;
                background-color: #ffae00;

                img {
                    max-width: 100%;
                    max-height: 350px;
                    object-fit: cover;
                }
            }

            .about_description {
                width: 500px;
                font-size: 18px;

                .about_desc_content {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;

                    .desc_content {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        font-weight: 300;
                        text-align: justify;
                    }

                    .call-actions {
                        display: flex;
                        gap: 50px;
                        align-items: center;

                        .follow_call_action {
                            display: flex;
                            gap: 30px;


                            .links {
                                display: flex;
                                gap: 30px;
                            }
                        }
                    }
                }


            }
        }
    }
}

@media (max-width: 530px) {
    .about-section {
        .about_container {
            .about_content {
                display: flex;
                //justify-content: space-between;
                flex-direction: column;

                .picture {
                    width: 90%;
                    height: 300px;

                    img {

                        max-height: 300px;

                    }
                }

                .about_description {
                    width: 100%;
                    font-size: 17px;

                    .about_desc_content {
                        flex-direction: column;
                        gap: 12px;

                        .desc_content {
                            gap: 10px;

                        }

                        .call-actions {
                            gap: 20px;
                            align-items: center;

                            .follow_call_action {
                                gap: 15px;


                                .links {
                                    gap: 15px;
                                }
                            }
                        }
                    }


                }
            }
        }
    }
}
